body{
    margin: 0px;
    padding: 0px;
}
header {
    display: flex;
    background-color: orange;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    grid-column: 1/-1;
  }
 
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: orange;
}
.texto-e-video{
    margin: 10px 10px;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
  footer {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100px;
    grid-column: 1/-1;
  }